n8n/workflows/02-evaluate.json
{
  "name": "Career Ops — 02 Evaluate Job",
  "nodes": [
    {
      "parameters": {
        "content": "## Career Ops — Evaluate Job\n\n**Trigger:** POST to webhook with `{ \"url\": \"https://job-posting-url\" }`\n\n**What it does:**\n1. Fetches the job posting page\n2. Evaluates fit using OpenRouter (free model) with career-ops A-G scoring\n3. Writes structured eval JSON back to local API\n4. Triggers Report pipeline (05) with eval data\n\n**N8N Variables required:**\n- `LOCAL_API_URL` = `http://100.95.236.57:3000`\n- `OPENROUTER_API_KEY` = your OpenRouter key\n- `EVAL_MODEL` = `nvidia/nemotron-3-ultra-550b-a55b:free`\n\n**Model config:** n8n/openrouter-models.json in repo",
        "height": 240,
        "width": 520,
        "color": 3
      },
      "id": "a0000002-0000-4000-8000-000000000001",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80]
    },
    {
      "parameters": {
        "path": "career-ops-evaluate",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a0000002-0000-4000-8000-000000000002",
      "name": "Webhook: Evaluate Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "career-ops-evaluate",
      "position": [240, 380]
    },
    {
      "parameters": {
        "url": "={{ $json.body.url || $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          },
          "timeout": 15000
        }
      },
      "id": "a0000002-0000-4000-8000-000000000003",
      "name": "Fetch job posting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "jsCode": "// Strip HTML tags, condense whitespace, limit to 8000 chars\nconst raw = $input.first().json.data || '';\nconst url = $('Webhook: Evaluate Job').first().json.body?.url || $('Webhook: Evaluate Job').first().json.url || '';\n\nconst text = raw\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ').trim()\n  .slice(0, 8000);\n\nreturn [{ json: { url, jd_text: text, char_count: text.length } }];"
      },
      "id": "a0000002-0000-4000-8000-000000000004",
      "name": "Clean JD text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.OPENROUTER_API_KEY }}" },
            { "name": "HTTP-Referer", "value": "https://github.com/TheSocialChicken/career-ops" },
            { "name": "X-Title", "value": "Career Ops Evaluator" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"model\": \"{{ $vars.EVAL_MODEL || 'nvidia/nemotron-3-ultra-550b-a55b:free' }}\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a career advisor evaluating job fit for Christiaan Verhoef, a Dutch professional (Baarn, NL). He targets: Innovation Lab Leader, Serious Game Designer, New Venture Builder, L&D Consultant, Digital Transformation. ENFP-T, 15yr agile practitioner, 10yr DevOps, MBA equivalent (BIM HvA 8.7), Tonomy co-founder, Windesheim lecturer. Strong: lab founding, serious games, building new ventures, AI education. Weak: pure finance/investor mechanics.\\n\\nEvaluate the job and return JSON ONLY with this exact structure:\\n{\\n  \\\"score\\\": 3.8,\\n  \\\"url\\\": \\\"...\\\",\\n  \\\"company\\\": \\\"...\\\",\\n  \\\"role\\\": \\\"...\\\",\\n  \\\"location\\\": \\\"...\\\",\\n  \\\"salary_range\\\": \\\"...\\\",\\n  \\\"fte\\\": \\\"...\\\",\\n  \\\"archetype_match\\\": \\\"innovation_lab|serious_games|venture|transformation|other\\\",\\n  \\\"blocks\\\": {\\n    \\\"A_role_fit\\\": { \\\"score\\\": 4.0, \\\"notes\\\": \\\"...\\\" },\\n    \\\"B_mission_values\\\": { \\\"score\\\": 3.5, \\\"notes\\\": \\\"...\\\" },\\n    \\\"C_growth\\\": { \\\"score\\\": 4.0, \\\"notes\\\": \\\"...\\\" },\\n    \\\"D_compensation\\\": { \\\"score\\\": 3.0, \\\"notes\\\": \\\"...\\\" },\\n    \\\"E_location_wlb\\\": { \\\"score\\\": 4.0, \\\"notes\\\": \\\"...\\\" },\\n    \\\"F_candidate_fit\\\": { \\\"score\\\": 4.0, \\\"notes\\\": \\\"...\\\" },\\n    \\\"G_legitimacy\\\": { \\\"score\\\": 4.0, \\\"tier\\\": \\\"Tier 1\\\", \\\"notes\\\": \\\"...\\\" }\\n  },\\n  \\\"verdict\\\": \\\"GO|SKIP|REVIEW\\\",\\n  \\\"reason\\\": \\\"2-3 sentence summary\\\",\\n  \\\"red_flags\\\": [],\\n  \\\"strengths\\\": []\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"URL: {{ $json.url }}\\n\\nJOB POSTING:\\n{{ $json.jd_text }}\"\n    }\n  ]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "a0000002-0000-4000-8000-000000000005",
      "name": "OpenRouter: Evaluate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenRouter response, extract eval JSON\nconst resp = $input.first().json;\nconst content = resp.choices?.[0]?.message?.content || '{}';\n\nlet eval_data;\ntry { eval_data = JSON.parse(content); }\ncatch { eval_data = { score: 0, error: 'parse failed', raw: content.slice(0, 500) }; }\n\nconst score = parseFloat(eval_data.score) || 0;\n\nreturn [{ json: {\n  ...eval_data,\n  score,\n  verdict: eval_data.verdict || (score >= 3.8 ? 'GO' : score >= 3.0 ? 'REVIEW' : 'SKIP'),\n  eval_date: new Date().toISOString().split('T')[0],\n  model_used: resp.model || 'unknown',\n} }];"
      },
      "id": "a0000002-0000-4000-8000-000000000006",
      "name": "Parse evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.LOCAL_API_URL }}/tracker",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"num\": \"{{ $json.num || '000' }}\",\n  \"date\": \"{{ $json.eval_date }}\",\n  \"company\": \"{{ $json.company }}\",\n  \"role\": \"{{ $json.role }}\",\n  \"status\": \"Evaluated\",\n  \"score\": \"{{ $json.score }}\",\n  \"pdf\": \"❌\",\n  \"notes\": \"{{ $json.verdict }} | {{ $json.archetype_match }}\"\n}",
        "options": {}
      },
      "id": "a0000002-0000-4000-8000-000000000007",
      "name": "Write tracker entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 280]
    },
    {
      "parameters": {
        "url": "={{ $workflow.webhookBaseUrl }}/webhook/career-ops-report",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a0000002-0000-4000-8000-000000000008",
      "name": "Trigger: Report pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ score: $json.score, verdict: $json.verdict, company: $json.company, role: $json.role }) }}"
      },
      "id": "a0000002-0000-4000-8000-000000000009",
      "name": "Respond to caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 600]
    }
  ],
  "connections": {
    "Webhook: Evaluate Job": {
      "main": [[{ "node": "Fetch job posting", "type": "main", "index": 0 }]]
    },
    "Fetch job posting": {
      "main": [[{ "node": "Clean JD text", "type": "main", "index": 0 }]]
    },
    "Clean JD text": {
      "main": [[{ "node": "OpenRouter: Evaluate", "type": "main", "index": 0 }]]
    },
    "OpenRouter: Evaluate": {
      "main": [[{ "node": "Parse evaluation", "type": "main", "index": 0 }]]
    },
    "Parse evaluation": {
      "main": [[
        { "node": "Write tracker entry", "type": "main", "index": 0 },
        { "node": "Trigger: Report pipeline", "type": "main", "index": 0 },
        { "node": "Respond to caller", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
